<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="income.css">
    <link rel="stylesheet" type="text/css" href="trans_index.css">
    <style>
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <b>
                    <li id="dash">Dashboard</li>
                </b>
                <li id="exp">Expenses</li>
                <li id="inc">Incomes</li>
            </ul>
        </div>
        <div class="transactions">
            {{#if Incomess.length}}
            <h2>Previous Income</h2>
            {{#each Incomess}}
            <div class="transaction-item">
                <span>&#8377;{{this.amount}} &nbsp;&nbsp;&nbsp;{{this.date}} &nbsp;&nbsp;&nbsp; {{this.purpose}}</span>
            </div>
            {{/each}}
            {{else}}
            <h2>No Previous Income</h2>
            {{/if}}
        </div>
        <!-- Transactions List -->
        <div class="transactions">
            {{#if Incomess.length}}
            <h2>Previous Expenses</h2>
            {{#each Expenss}}
            <div class="transaction-item">
                <span>&#8377;{{this.amount}} &nbsp;&nbsp;&nbsp;{{this.date}} &nbsp;&nbsp;&nbsp; {{this.purpose}}</span>
            </div>
            {{/each}}
            {{else}}
            <h2>No Previous Expenses</h2>
            {{/if}}
        </div>
    </div>
    <!-- Font Awesome CDN for icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        document.getElementById('exp').addEventListener('click', function (event) {
            window.location.href = '/expense';
        });
        document.getElementById('inc').addEventListener('click', function (event) {
            window.location.href = '/income';
        });
        document.getElementById('dash').addEventListener('click', function (event) {
            window.location.href = '/';
        }); 
    </script>
</body>

</html>